@use '../../config/' as *;

.molecule-guest-type__guest {
  font-weight: 600;
  margin-bottom: 0.1%;
}

.molecule-guest-type__info {
  color: $color-graytext;
  margin-bottom: 0.5%;
}

.molecule-guest-type__amount {
  display: flex;
  align-items: center;
}

.molecule-guest-type__amount p {
  margin-left: 20px;
  margin-right: 20px;
}