@use '../../config/' as *;

.atom-button-windowlocation__button {
  width: 100%;
  border-radius: 16px 0 0 16px;
  border-right: 1px solid $color-shadow;
}

.atom-button-windowlocation__text {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-mode;
}

.atom-button-windowlocation__button p {
  color: $color-mode;
}