mixin atom-button-switchmode
  button.atom-button-switchmode__button(onclick="mode()")
    img#dark(src="../../../images/moon-icon.png", alt="moon icon")
    img#light(src="../../../images/sun-icon.png", alt="sun icon")