mixin atom-button-search
  button.atom-button-search__button(onclick="action()")
    img.atom-button-search__icon(src="../../../images/search-icon.png", alt="search icon")
    p.atom-button-search__text Search