mixin atom-button-iconsearch
  .atom-button-iconsearch__block 
    button.atom-button-iconsearch__button(onclick="action()")
      img.atom-button-iconsearch__icon(src="../../../images/search-icon2.png", alt="search icon")