mixin atom-text-cardrating(rating)
  .atom-text-cardrating__block 
    img.atom-text-cardrating__star-icon(src="../../../images/star-icon.png", alt="star icon")
    p.atom-text-cardrating__rating #{rating}