$white: #ffffff;
$black: #000000;

$primary: #0e2a55;
$secondary: #f9f3ec;
$tertiary: #ee6644;
$accent: #b31e1a;

/* ==========>> custom <<========== */

$gray: #828282;
$crimson: #EB5757;
$graytext: #BDBDBD;
$grayborder: #F2F2F2;

$shine: rgba(255, 255, 125, 0.4);
$gray: rgb(140, 140, 140);
$shadow: rgba(0, 0, 0, 0.1);
$dark: rgba(30, 30, 30, 1);

$mode: #333333;